*{
	font-family: "Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
}
body{
	height:100%;
}
 li {
	list-style: none;
}
ul{
	padding:0;
	margin:0;

}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.sidebar{margin:0; padding:0;top:0; bottom:0; position:fixed;}


.sidebar .sidebar-head{
	text-align: center;
	padding:0px  20px 0;
	height:125px;
}
.sidebar .kind {
	position:fixed;
	border-right:2px solid #0099CC;
	padding:0px 0 30px 0;
	top:125px;
	bottom:30px;
	margin:0;
	text-align: center;
}
.sidebar  .name{
	font-size:23px;
	color:#000;
}
.sidebar .ul-role{
	margin-top:10px;margin-bottom:30px;

}
.sidebar .role{
	height:35px; line-height:35px;  padding:5px 0px; text-align: center; overflow: hidden;
	font-size:15px;

}
.sidebar .role .role-line{ display:block; position: absolute; width:0px; height:0px; background:#66FF00; left:50%;}
.sidebar .role-name:hover{
	color:#000;
	cursor:pointer;
}
.sidebar .role-name{
	color:#666;  text-decoration:none;
}
.sidebar .role-icon{
	color:#0099CC;
}

.sidebar .sidebar-head .search{
	margin-top:20px;
}
.sidebar .sidebar-head .search-icon{

	margin-top:15px;

}
.sidebar .sidebar-head .search-input{
	border-radius: 16px;
	padding: 0;
	border:0;
	width:0%;

}
.sidebar .sidebar-head .search-input:focus{
	outline: none;
}


.sidebar .ul-out li{  height:40px; line-height:40px;  padding:10px 0px; text-align: center; overflow: hidden;}
.sidebar .ul-out li a{ color:#666; font-size:20px; text-decoration:none;}
.sidebar .ul-out li a:hover{ color:#000; text-decoration:none;}
.sidebar .ul-out li .li-line{ display:block; position: absolute; width:0px; height:0px; background:#66FF00; left:50%;}
.sidebar .ul-in{display:none;}
.sidebar .ul-in .li-in{ height:40px; line-height:40px;  padding:10px 10px; text-align: center; overflow: hidden;  }
.sidebar .ul-in .li-in a{ color:#666; font-size:15px; text-decoration:none;}
.sidebar .ul-in .li-in a:hover{ color:#000; text-decoration:none;}

.button-group{ display:block; overflow:hidden;}
.button-group  .fun-button{   height:50px;    padding:10px 10px 10px 10px; text-align: center; overflow: hidden;float:left; }
.button-group .fun-button .fun-a{  color:#666; font-size:20px; text-decoration:none; margin-bottom:10px; display:inline-block}
.button-group .fun-button .fun-a:hover{ color:#000; text-decoration:none;}
.button-group .fun-button .fun-line{ display:block;  width:0px; height:2px; background:#66FF00;  }
.button-group .fun-button .fun-line .fun-icon{color:#0099CC;}

.button-group  .fun-select{ height:50px;    padding:15px 0 10px 0 ; text-align: center; overflow: hidden;float:left; display:none;}
.button-group  .fun-select-a{ color:#666; font-size:15px; text-decoration:none;}
.button-group  .fun-select-a:hover{ color:#000; text-decoration:none;}

.email-box{
	position:fixed;
	top:0;
	bottom:0;
}

.email-box-body{
	position:absolute;
	top:125px;
	bottom:0;
	overflow-y:auto;
	overflow-x: hidden;
}

.notify-box{
	position: fixed;
	z-index: 1;
	right:20px;
	bottom: 0px;
	width:300px;
	padding:0px;
	display:none;

}