body{
    font-family: "Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
}
.head-body{
    background-color: #ff8000;
    height: 70px !important;
    margin:0 !important;
}

.head-body h1 a{
    color:#F8F8FF;
    text-decoration:none;
}

.head-body .head-search{
    top:25px;
    margin-left: 70%;
}
.head-body .head-search .input-group .input-group-addon{
	padding:5px 12px; 
}
.head-body .search-btn{
	width: 10%;
	height: 100%;
	background: #fff;
	margin-left: 28px;
	padding: -3px;
	border:0;
	border-radius: 16px;
}
.input{
	border:0;
	padding-left: 8px;
	width: 77%;
	height: 100%;
	border-radius: 16px;
}
.input:focus{
	outline: none;
}
.search-btn:focus{
	outline: none;
}
.leftHead{
	margin-left: 20px;
	height: 100%;
	width: 20%;
	padding: 18px 0;
	display: block;
	font-size: 15px;
	line-height:13px;
	position:relative;
}
.right{
	text-align: right;
	padding-right: 20px;
}
.rightHead{
	position: absolute;
	width: 20%;
	margin-top: 8px;
	margin-left: 78%;
	display: block;
}
.input-box{
	margin-top: 10px;
    width: 100%;
    height: 25px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.input-box:hover{
	border:1px solid #2aabd2;
}
.sidebar{
	position: fixed!important;
	padding:0;
	margin-top:0;
	height: 100%;
	min-height: 680px;
	background: #00aaef;
	float: left;
	box-shadow: 8px 5px 15px #505050; 
	filter:alpha(opacity=85);  
    -moz-opacity:0.85;  
    -khtml-opacity: 0.85;  
    opacity: 0.85;
	z-index: 1;
}
.navContainer{
	width:100%;
	margin: 0;
	padding:0;
}
.logo{
	background: #00aaef;
	height: 70px;
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
	color: #e8fefa;
}
.blank{
	height: 15px;
}
.large{
	height: 45px;
	font-size: 23px;
	color: #e8fefa;
	text-align: left;
	padding-left: 40px;
	margin: 10px 0;
}
.large:hover{
	border:3px solid #e8fefa;
	background: #49a7ae;
	transition: all 0.1s ease-in-out;
	text-decoration: none;
	cursor: pointer;
}
.large:focus{
	border:3px solid #e8fefa;
	background: #49a7ae;
	text-decoration: none;
}
.line{
	height: 3px;
	background: #e8fefa;
	margin: 10px 5px 15px 5px;
	border-radius: 10px;
}
.glyphicon{
	margin-right: 30px;
	top:4px;
}
.normal{
	height: 40px;
	font-size: 21px;
	color: #e8fefa;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
}
.normal:hover{
	border:3px solid #e8fefa;
	background: #49a7ae;
	transition: all 0.1s ease-in-out;
	text-decoration: none;
	cursor: pointer;
}
.normal:focus{
	border:3px solid #e8fefa;
	background: #49a7ae;
	text-decoration: none;
}
.table-tr{
	cursor:pointer;
}

.main-body{

	overflow-y:auto;
	overflow-x:hidden;
}
.email-box{
	margin:10px -20px 0 20px;
}