body{
    font-family: "Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
}
.main-body{
    width: 100%;
}
.logo{
    height: 320px;
    width: 400px;
    position: absolute;
    top:0%;
    left:35%;
}
.form-group{
    margin-bottom: 0 !important;
}
.main-body .login-box{
    min-height: 20px;
    padding: 30px;
    background-color: none;
    border: 0;
}
.main-body .login-btn{
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}