<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>邮件处理系统</title>
	<link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css" />
	<link rel="stylesheet" href="__ROOT__/Public/css/base.css"/>
	<script type="text/javascript" src="__ROOT__/Public/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/js/base.js"></script>

</head>
<body>
<include file="Public:base"/>
<div class ="main-body"   sytle="height:100%">

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10 email-box ">

			</div>


   		 </div>
</div>
</body>
</html>