<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__ROOT__/Public/css/kkkk.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/css/edit.css"/>
    <script type="text/javascript" src="__ROOT__/Public/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/safe.js"></script>

</head>
<body>
<div class="col-md-2 sidebar">
    <ul class="navContainer">
        <li  class="logo"><a href="__URL__/manager" style="text-decoration: none">后台管理系统</a></li>
        <li class="normal" ><a href="__URL__/manager" style="text-decoration: none">员工列表</a></li>
        <li  class="normal" ><a href="__URL__/mailSet" style="text-decoration: none">邮箱设置</a></li>
    </ul>
</div>
<div class="head-body" >
    <div class="rightHead">
        <div class="right">
            <a href="#">反馈建议</a> | <a href="__APP__/Home/Index/logout">退出</a>
        </div>
        <div class="input-box">
            <input class="input"id="usernamea">
            <button class="search-btn"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
    <div class="leftHead">
        <p><b id="username">用户名 </b><<span id="userAddress">123456@mail.com</span>><p>
        <a href="#">邮箱首页</a> | <a href="#">设置</a>
    </div>

</div>

<div class ="main-body"   >

    <div class="">
        <div class="col-md-2"></div>
        <div class="col-md-10 email-box " >
            <h2>员工添加</h2>
<HR width="100%" color=gray SIZE=20 />
<br>

            <form action="__URL__/addUser" method="post" id="addUserForm">
                <div class="input-group">
                    <span class="input-group-addon" > 用户名</span>
                    <input type="text" id="account" name="account" style="width: 160px" class="form-control" placeholder="Account" aria-describedby="sizing-addon2">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" >真实姓名</span>
                    <input type="text" id="name" name="name" style="width: 250px" class="form-control" placeholder="Name" aria-describedby="sizing-addon2">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" >密码</span>
                    <input type="text" id="password" name="password" style="width: 250px" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" >角色</span>
                    <select name="authority" id="authority"><!--权限-->
                        <volist name="role" id="row">
                            <option value="{$row['id']}">{$row['name']}</option>
                        </volist>
                    </select>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">电话</span>
                    <input type="text" id="phone" name="phone" style="width: 230px" class="form-control" placeholder="Tel" aria-describedby="sizing-addon2">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">邮件</span>
                    <input type="text" id="email" name="email" style="width: 230px" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
                </div>
                <br>
                <nav>
                    <ul class="pager">
                        <li><a href="#" id="submitBtn">保存</a></li>
                        <li><a href="manager.html">返回</a></li>
                    </ul>
                </nav>
            </form>

</div>



</div>
</div>
</body>
<script >

    $("#submitBtn").click(function(){
        $("#addUserForm").submit();
    });
</script>
</html>