<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__ROOT__/Public/css/base.css"/>
    <script type="text/javascript" src="__ROOT__/Public/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/base.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/safe.js"></script>
</head>
<body>

<include file="Public:userbase"/>

<div class="col-md-10 col-md-offset-2 email-box ">

    <div class="email-box-head" style="width:100%;height:125px;">
        <div style="height:50px;"></div>
        <div class="button-group" role="group" aria-label="...">
            <li class="fun-button"><a href="set.html" class="fun-a">常规</a><span class="fun-line"></span></li>
        </div>
    </div>
    <form id="mailAccount" method="post" action="__APP__/Home/User/updateInfo">

        <div class="input-group">
            <span class="input-group-addon" >企业邮箱地址</span>
            <input name="emailAddress" placeholder="" value="{$mailAccount.emailaddress}" type="text" style="width:220px" class="form-control" aria-describedby="sizing-addon2">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">邮箱昵称</span>
            <input name="emailName" type="text" style="width:220px" value="{$mailAccount.emailname}" class="form-control" aria-describedby="sizing-addon2">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon" >pop3服务器</span>
            <input name="popserver" type="text" style="width:220px" value="{$mailAccount.pop3server}" class="form-control" aria-describedby="sizing-addon2">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">stmp服务器</span>
            <input name="stmpserver" type="text" style="width:220px" value="{$mailAccount.stmpserver}" class="form-control" aria-describedby="sizing-addon2">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">邮箱账户</span>
            <input name="user" type="text" style="width:220px" value="{$mailAccount.emailusername}" class="form-control" aria-describedby="sizing-addon2">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">账户密码</span>
            <input name="pwd" type="text" style="width:220px" value="{$mailAccount.emailpassword}" class="form-control" aria-describedby="sizing-addon2">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">收信时间</span>
            <input name="receiveday" type="text" style="width:220px" value="{$mailAccount.receiveday}" class="form-control" aria-describedby="sizing-addon2">
        </div>
        <br>
        <nav>
            <ul class="pager">
                <li><a id="saveMailAccountButton" type="button">保存</a></li>
                <li><a href="manager.html">返回</a></li>
            </ul>
        </nav>
    </form>




</div>
</body>
</html>